{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <section class="section1">
    </section>

    <section id="s2" class="section2">
        <div class="about-container">
        <h2>Qui suis-je ?</h2>
            <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam dicta alias sunt sed officiis expedita, soluta qui mollitia architecto, iure praesentium nostrum magni tempore! Laudantium hic iure voluptatem et!
                Perferendis totam qui enim minima dolores molestiae explicabo ducimus sequi, odit molestias eaque eveniet repudiandae voluptate. Minus cupiditate voluptatem rem possimus natus id sequi. Delectus officia nobis dolor a qui.
                Accusantium molestiae recusandae dolor ducimus quibusdam. Amet facilis nisi atque neque dolores facere nostrum reprehenderit beatae asperiores soluta doloribus ipsa, adipisci, cupiditate veritatis repellat. Cupiditate aliquam distinctio laboriosam asperiores aliquid.</p></div>
                <div> <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam dicta alias sunt sed officiis expedita, soluta qui mollitia architecto, iure praesentium nostrum magni tempore! Laudantium hic iure voluptatem et!
                    Perferendis totam qui enim minima dolores molestiae explicabo ducimus sequi, odit molestias eaque eveniet repudiandae voluptate. Minus cupiditate voluptatem rem possimus natus id sequi. Delectus officia nobis dolor a qui.
                    Accusantium molestiae recusandae dolor ducimus quibusdam. Amet facilis nisi atque neque dolores facere nostrum reprehenderit beatae asperiores soluta doloribus ipsa, adipisci, cupiditate veritatis repellat. Cupiditate aliquam distinctio laboriosam asperiores aliquid.</p></div>
        </div>
        
    </section>

    <section id="s3" class="section3">
        <h2>Mes projets</h2>

        <div class="wrapper">
            {% for project in projects %}
                <div class="project-container">
                    <p>{{project.name}}</p>
                    <time>{{project.date|date("m/d/Y")}}</time>
                    <img src="{{project.image}}" alt="{{project.name}}">
                    <p>{{project.description}}</p>
                    <a href="{{project.link}}">Github</a>
                    {% if app.user %}
                        <a href="{{ path("project_edit", {id: project.id}) }}">edit</a>
                    {% endif %}
                </div>
            {% endfor %}

            {% if app.user %}
                    <p><a href="{{ path("project_new") }}">Create</a></p>
            {% endif %}
        </div>
        
    </section>

    <section id="s4" class="section4">
        <h2>Mes skills</h2>
        {% for skill in skills %}
            <div class="skill-container">
                
                <p>{{skill.name}}</p>
                <div>
                    <img src="{{skill.image}}" width="50px" alt="{{skill.name}}">
                    <progress id="file" max="100" value="{{skill.level}}"> {{skill.level}} </progress> <span>{{skill.level}}%</span>
                </div>
            {% if app.user %}
                    <a href="{{ path("skill_edit", {id: skill.id}) }}">edit</a>
            {% endif %}
        </div>
        {% endfor %}

        {% if app.user %}
                <p><a href="{{ path("skill_new") }}">Create</a></p>
        {% endif %}
    </section>

    <section id="s5" class="section5">
        <h2>Contactez-moi</h2>

        <form action="https://formspree.io/f/mgedaloz" method="POST">
            <label>Your email:
            </label>
            <input type="email" name="_replyto">


            <label>
                Your message:
            </label>

            <textarea name="message"></textarea>

            <button type="submit">Send</button>
        </form>

        <div class="logo-container">

            <div class="github-logo">
                <img src="{{ asset('build/images/linkedin.png') }}" alt="Github logo">
            </div>

            <div class="linkedin-logo">
                <img src="../../assets/images/linkedin_icon.png" alt="Linkedin logo">
            </div>

            <div class="reddit-logo">
                <img src="../../assets/images/reddit_icon.png" alt="Reddit logo">
            </div>

        </div>
    </section>
{% endblock %}
