{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <section class="section1">
        <h1>Bonjour, je suis Corentin Châlons</h1>
        <p>Développeur web et web mobile</p>
        
        <div class="citation">
            <q>L'intelligence c'est la capacité de s'adapter au changement</q>
            <p>Stephen hawkings</p>
        </div>
    </section>

    <section id="s2" class="section2">
        <div class="about-container">
        <h2>Qui suis-je ?</h2>
            <div><p>Diplomé d'un bac STAV (science et technique de l'agronomie et du vivant. J'ai décidé par la suite de me lancer dans la serrurerie métallerie. J'ai pasé mon CAP chez les compagnons du devoir. J'ai travaillé pendant 1 an dans l'entreprise Toffolo et Fils à Witry-lès-Reims. Cette année, j'ai décider de reprendre une nouvelle activitée. La programmation, et plus particulièrement le développement web. Depuis l'adolescence, je m'interrese à l'informatique. Je me suis essayé à la creation de jeux videos 2d en lua accompagné du framework love 2d. Puis je me suis tourné vers le web.</p></div>
            <div> <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam dicta alias sunt sed officiis expedita, soluta qui mollitia architecto, iure praesentium nostrum magni tempore! Laudantium hic iure voluptatem et!
                Perferendis totam qui enim minima dolores molestiae explicabo acere nostrum reprehenderit beatae asperiores soluta doloribus ipsa, adipisci, cupiditate veritatis repellat. Cupiditate aliquam distinctio laboriosam asperiores aliquid.</p></div>
        </div>
        
    </section>

    <section id="s3" class="section3">
        <h2>Mes projets</h2>

        <p>Voici les projets que j'ai pu réaliser depuis le debut de ma carrière de développeur web</p>

        <div class="wrapper">
            {% for project in projects %}
                <div class="project-container">
                    <p>{{project.name}}</p>
                    <time>{{project.date|date("m/d/Y")}}</time>
                    <img src="{{project.image}}" alt="{{project.name}}">
                    <p>{{project.description}}</p>
                    <a href="{{project.link}}">Github</a>
                    {% if app.user %}
                        <a href="{{ path("project_edit", {id: project.id}) }}">edit</a>
                    {% endif %}
                </div>
            {% endfor %}

            {% if app.user %}
                    <p><a href="{{ path("project_new") }}">Create</a></p>
            {% endif %}
        </div>

        <div><img class="shadow-drop-2-center" src="{{ asset('build/images/finger.png') }}" alt=""></div>
        
    </section>

    <section id="s4" class="section4">
        <h2>Mes skills</h2>
        {% for skill in skills %}
            <div class="skill-container">
                
                <p>{{skill.name}}</p>
                <div>
                    <img src="{{skill.image}}" width="50px" alt="{{skill.name}}">
                    <progress id="file" max="100" value="{{skill.level}}"> {{skill.level}} </progress> <span>{{skill.level}}%</span>
                </div>
            {% if app.user %}
                    <a href="{{ path("skill_edit", {id: skill.id}) }}">edit</a>
            {% endif %}
        </div>
        {% endfor %}

        {% if app.user %}
                <p><a href="{{ path("skill_new") }}">Create</a></p>
        {% endif %}
    </section>

    <section id="s5" class="section5">
        <h2>Vous souhaitez me contacter ?</h2>

        <form action="https://formspree.io/f/mgedaloz" method="POST">
            <label>Votre adresse mail:
            </label>
            <input type="email" name="_replyto" required>


            <label>
                Votre message :
            </label>

            <textarea name="message" required></textarea>

            <button type="submit">Envoyer</button>
        </form>

        <div class="logo-container">

            <div class="github-logo">
                <a href="https://github.com/CorentinCls"> <img src="{{ asset('build/images/git_icon.png') }}" alt="Github logo">  </a>
            </div>

            <div class="linkedin-logo">
                <a href="https://www.linkedin.com/in/corentin-ch%C3%A2lons/"><img src="{{ asset('build/images/linkedin_icon.png') }}" alt="Linkedin logo"></a>
            </div>

            <div class="reddit-logo">
                <a href="https://www.reddit.com/user/Strict_Breakfast3906"> <img src="{{ asset('build/images/reddit_icon.png') }}" alt="Reddit logo"> </a>
            </div>

        </div>
    </section>
{% endblock %}
